# Analyzing Excel data

In order to create a single dataset file, it is necessary to preprocess the raw data coming from the manual counting of airplanes in **Flightradar24 videos**

The data is organized by sector into four Excel files corresponding to the aeronautic sectors ranging from **A-D**. Each file has seven sheets, one for every day of the week **(Sun,Mon,Tue,Wed,Thu,Fri,Sat)**.

In [1]:
import pandas as pd
import numpy as np

import datetime

In [2]:
SECTOR_NAMES = [*'ABCD']
SECTOR_XLS = [f'data/Sector {letter} Hrs Pico Principal Datos.xlsx' for letter in SECTOR_NAMES]
SECTOR_NO = 3 # the sector we are gonna be working with

## Sector A

### Data presentation

The ```FECHA``` column contains the date of the particular day of the week (Sunday in this case) along the year 2023 and the columns **1-42** contain the number of airplanes in the sector A every 15 minutes since ```14:00``` to ```23:59```. Its first sheet is slightly different to the rest of them, having an extra row of numeric data.

In [3]:
raw_df = pd.read_excel(SECTOR_XLS[SECTOR_NO], sheet_name=6)
raw_df.head()

,FECHA,14:00:00,14:15:00,14:30:00,14:45:00,15:00:00,15:15:00,15:30:00,15:45:00,16:00:00,...,23:59:00,MES,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,2023-01-01 00:00:00,4,2,4,8,2,3,1,3,4,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-01-08 00:00:00,1,7,6,4,1,8,8,8,7,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-01-15 00:00:00,3,6,7,7,4,4,3,5,5,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-01-22 00:00:00,5,3,4,8,6,7,8,6,5,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-01-29 00:00:00,2,3,5,5,7,4,5,4,4,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
raw_df.columns[1:42].shape

(41,)

The area between the **1st and 54th** row and the **2nd and 43rd** column contains share of relevant data to be extracted

In [5]:
raw_df.iloc[:53,1:42] # the section of the dataset from which the data will be extracted

,14:00:00,14:15:00,14:30:00,14:45:00,15:00:00,15:15:00,15:30:00,15:45:00,16:00:00,16:15:00,...,21:45:00,22:00:00,22:15:00,22:30:00,22:45:00,23:00:00,23:15:00,23:30:00,23:45:00,23:59:00
0,4,2,4,8,2,3,1,3,4,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,7,6,4,1,8,8,8,7,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,6,7,7,4,4,3,5,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,3,4,8,6,7,8,6,5,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,3,5,5,7,4,5,4,4,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,4,3,4,4,4,5,6,5,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3,2,4,5,6,7,7,5,6,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4,6,7,6,5,7,4,3,0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3,6,9,6,4,3,4,5,6,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,3,3,5,10,12,8,4,6,7,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1,3,3,3,3,7,7,7,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,4,3,6,5,5,6,8,7,8,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5,7,7,6,5,6,10,5,8,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,4,3,2,5,3,9,11,8,8,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,3,4,4,10,9,5,8,7,11,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,8,8,9,5,4,4,10,10,6,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,4,4,3,2,5,3,10,8,6,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,3,4,4,0,1,4,3,4,7,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,10,5,8,6,9,7,8,9,11,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,4,4,4,6,8,7,7,7,5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,5,7,7,7,5,7,8,7,5,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,3,4,2,7,6,10,10,7,3,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,9,7,6,6,6,7,5,5,8,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,3,1,4,3,7,8,6,7,8,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,6,2,2,5,4,9,5,4,3,12,...,6,5,6,3,7,7,5,4,6,6
25,2,8,3,1,5,6,9,12,9,5,...,6,6,7,9,4,4,6,9,7,8
26,3,4,6,9,8,6,4,8,5,9,...,4,5,8,4,5,3,4,5,4,4
27,5,9,6,5,4,8,7,7,4,7,...,10,6,6,4,5,7,6,4,5,5
28,6,5,5,4,5,8,7,5,7,10,...,2,7,4,1,3,2,5,9,5,5
29,4,8,7,5,9,8,11,4,8,15,...,9,4,4,1,6,2,4,5,7,6
30,4,5,7,6,6,6,6,9,10,5,...,6,7,6,7,4,0,4,9,11,2
31,3,5,2,4,7,11,8,6,8,4,...,6,4,3,7,7,0,2,4,6,4
32,5,5,4,7,6,8,7,5,5,6,...,4,5,9,4,6,6,4,4,3,2
33,4,8,7,5,9,7,6,6,6,8,...,9,8,8,6,6,5,4,5,6,5
34,5,5,3,7,6,9,6,7,6,6,...,8,9,5,4,5,2,2,4,6,2
35,4,6,6,8,9,14,10,11,8,5,...,5,8,5,5,2,3,8,8,6,4
36,4,5,7,8,5,5,8,8,9,8,...,6,5,7,6,5,3,4,3,4,5
37,9,7,6,4,6,5,7,8,7,6,...,2,4,9,6,5,2,4,5,7,6
38,4,9,6,2,3,7,7,6,3,5,...,3,3,2,3,5,4,3,2,3,5
39,4,2,5,3,4,8,7,5,6,4,...,4,4,6,4,7,6,4,8,7,4
40,7,8,6,7,2,6,11,7,7,5,...,3,4,2,4,2,2,5,4,4,3
41,7,5,4,3,5,10,12,8,7,7,...,5,1,1,4,2,4,7,7,4,5
42,4,6,8,3,6,12,7,10,10,8,...,7,7,6,3,5,7,7,10,7,3
43,7,9,4,6,7,8,7,7,8,10,...,2,2,5,3,3,4,6,8,6,6
44,4,3,4,11,8,9,8,9,8,8,...,6,6,7,6,5,8,6,8,6,8
45,3,4,9,10,8,7,11,6,6,4,...,9,5,3,5,5,6,4,8,7,6
46,3,6,8,8,8,10,7,8,8,6,...,4,3,7,10,9,4,6,7,5,7
47,7,4,11,10,5,7,11,9,4,9,...,11,6,6,4,5,7,7,9,12,11
48,9,4,4,5,5,7,6,8,10,12,...,11,8,6,7,4,6,4,5,8,6
49,2,5,8,8,6,7,9,8,11,12,...,13,9,13,16,7,4,4,4,8,5
50,6,7,5,8,8,7,5,4,3,10,...,11,6,4,4,8,7,9,9,6,3
51,8,9,9,7,4,6,6,5,8,10,...,6,6,5,4,6,9,6,4,2,5
52,7,8,6,5,6,7,6,6,7,14,...,6,4,5,2,2,4,6,9,5,4

**NOTE:** On the weeks before Jun 11th-18th, the airplane count from ```21:15```-```23:59``` started to be saved

In [6]:
dt_df = raw_df.iloc[23:25,0]
night_df = raw_df.iloc[23:25,30:42]

pd.concat([dt_df, night_df], axis = 1)

,FECHA,21:15:00,21:30:00,21:45:00,22:00:00,22:15:00,22:30:00,22:45:00,23:00:00,23:15:00,23:30:00,23:45:00,23:59:00
23,2023-06-11 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2023-06-18 00:00:00,6,4,6,5,6,3,7,7,5,4,6,6

### Preprocessing sheet 0

In [7]:
columns = raw_df.columns[1:42]
columns.shape

(41,)

The airplane count is flattened

In [8]:
flattened_counts = pd.DataFrame(raw_df.iloc[:53,1:42].values.flatten())
flattened_counts.shape

(2173, 1)

The data is ordered in the same way as before

In [9]:
day1to2_df = raw_df.iloc[:2, :42]
display(day1to2_df)

flattened_counts.iloc[:2*30,:].T

,FECHA,14:00:00,14:15:00,14:30:00,14:45:00,15:00:00,15:15:00,15:30:00,15:45:00,16:00:00,...,21:45:00,22:00:00,22:15:00,22:30:00,22:45:00,23:00:00,23:15:00,23:30:00,23:45:00,23:59:00
0,2023-01-01 00:00:00,4,2,4,8,2,3,1,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-01-08 00:00:00,1,7,6,4,1,8,8,8,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

  0  1  2  3  4  5  6  7  8  9   ... 50  51  52 53 54  55  56  57 58 59
0  4  2  4  8  2  3  1  3  4  7  ...  8  10  11  9  9  10  15  10  9  9

[1 rows x 60 columns]

Next, the timestamps are generated using a ```freq``` of **7 days** for the ```dates``` and each of those is assigned to ```start``` to generate the datetimes with a ```freq``` of **15 minutes**

In [10]:
pd.date_range(start='2023-01-02 14:00:00', freq='15min', periods = len(columns)).shape

(41,)

In [11]:
dates = pd.date_range(start='2023-01-01 14:00:00', freq='7D',end='2023-12-31 14:00:00')
times = [pd.DataFrame(pd.date_range(start=d, freq='15min', periods = (len(columns)))) for d in dates]
times = pd.concat(times, ignore_index=True)
times.shape

(2173, 1)

Then the ```count``` and day of the week (```DoW```) columns are assigned to the dataframe.

In [17]:
times['count'] = flattened_counts
times['DoW'] = pd.DataFrame(np.tile(np.array([6+1]), times.shape[0]))
times = times.rename(columns={0: 'timestamp'})
times

               timestamp count  DoW
0    2023-01-01 14:00:00     4    7
1    2023-01-01 14:15:00     2    7
2    2023-01-01 14:30:00     4    7
3    2023-01-01 14:45:00     8    7
4    2023-01-01 15:00:00     2    7
...                  ...   ...  ...
2168 2023-12-31 23:00:00     4    7
2169 2023-12-31 23:15:00     6    7
2170 2023-12-31 23:30:00     9    7
2171 2023-12-31 23:45:00     5    7
2172 2024-01-01 00:00:00     4    7

[2173 rows x 3 columns]

In [20]:
times.loc[times['timestamp'] == '2023-01-02 00:00:00']

    timestamp count  DoW
40 2023-01-02   NaN    7

As the rest of the sheets have one row of data less than the previous one, the function ```read_sheet``` is created.

In [ ]:
def read_sheet(excel_path:str,sd:int, sheet = 0)-> pd.DataFrame:
    raw_df = pd.read_excel(excel_path, sheet_name=sheet)
    columns = raw_df.columns[1:42]
    flattened_counts = pd.DataFrame(raw_df.iloc[:52,1:42].to_numpy().flatten())
    dates = pd.date_range(start=f'2023-01-0{sd} 14:00:00', freq='7D',end='2023-12-31 14:00:00')
    times = [pd.DataFrame(pd.date_range(start=d, freq='15min', periods = (len(columns)))) for d in dates]
    times = pd.concat(times, ignore_index=True)
    times['count'] = flattened_counts
    times['DoW'] = pd.DataFrame(np.tile(np.array([sheet+1]), times.shape[0]))
    times = times.rename(columns={0: 'timestamp'})

    return times

All dataframes are concatenated

In [ ]:
dfs = [read_sheet(excel_path = SECTOR_XLS[SECTOR_NO],sd = d,sheet = i) for i, d in zip(range(6), [2,3,4,5,6,7])]

dfs.append(times)
final_df = pd.concat(dfs, ignore_index = True)
final_df.sort_values(['timestamp'],ignore_index=True,inplace=True)
display(final_df.head())

sector = np.array([SECTOR_NAMES[SECTOR_NO]])
sector = pd.DataFrame(np.tile(sector,final_df.shape[0]),columns = ['Sector'])
final_df['Sector'] = sector

final_df['SummerTime'] = pd.DataFrame(np.zeros(final_df.shape[0]).astype(np.bool8))
final_df['SummerTime'] = (final_df['timestamp'] >= '2023-03-12') & (final_df['timestamp'] <= '2023-11-05')

display(final_df.loc[(final_df['timestamp'] >= '2023-03-12') & (final_df['timestamp'] <= '2023-11-05')])

Exporting the data as a csv file

In [ ]:
final_df.to_csv(f'data/processed_data/sector{SECTOR_NAMES[SECTOR_NO]}.csv', index=False)